@import url('https://rsms.me/inter/inter.css');

:root {
	--primary: #333;
	--secondary: #fff;
	--tertiary: #aaa;
}

@media (prefers-color-scheme: dark) {
	:root {
		--secondary: #333;
		--primary: #fff;
	}
}

body {
	font-family: 'Inter';
	font-size: 1.5em;
	color: var(--primary);
	background: var(--secondary);
	word-break: keep-all;
}

main {
	max-width: 80vw;
	padding: 0 2em;
	margin: auto;
}

div {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 1em 3em;
}

section {
	width: 100%;
	flex-grow: 1;
	flex-basis: 10em;
}

footer {
	margin: 2em 0;
	font-size: 70%;
}

footer a:link,
footer a:visited,
footer a:hover,
footer a:link {
	color: inherit;
}

nav {
	margin: 3em 0 0 0;
}

nav a:link,
nav a:visited,
nav a:hover,
nav a:link {
	text-decoration: none;
	color: var(--primary);
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline;
	margin-right: 1em;
}

.active {
	font-weight: bold;
}

h1 {
	margin-top: 2em;
}

h2, footer {
	border-top: 1px solid var(--tertiary);
	padding: .5em 0;
}

@media only screen and (max-width: 800px) { body { font-size: 1.3em; } }
@media only screen and (max-width: 600px) { body { font-size: 1.2em; } }
@media only screen and (max-width: 400px) { body { font-size: 1.1em; } }